VITE_PROMPTMINT_CONTRACT_ADDRESS=
VITE_BOTCHAIN_TESTNET_RPC=https://rpc.bohr.life
VITE_BOTCHAIN_TESTNET_EXPLORER=https://scan.bohr.life
BOTCHAIN_TESTNET_RPC=https://rpc.bohr.life
BOTCHAIN_MAINNET_RPC=https://rpc.botchain.ai
DEPLOYER_PRIVATE_KEY=
PRIVATE_KEY=
BLOCKSCOUT_API_KEY=
